.wrapper {
    margin-bottom: 0.5rem;
}

.list {
    display: flex;
}

.item {
    color: #a8a29e;
    font-size: 0.875rem;
    transition: color 0.15s;
}

.item:hover {
    color: #292524;
}

.itemActive {
    color: #57534e;
}
